{% for image in images %}
    {% if image %}
    <div class='rich_image_thumb' data-id='{{ image.id }}'>
        <img src='{{ asset('bundles/nacholibrerichuploader/img/move.png') }}' class='move' />
        <img src='{{ asset('bundles/nacholibrerichuploader/img/delete.png') }}' class='delete' />
        <img src='{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('rich_image_thumb') }}' class='mainThumb' />

        <span class='make_main {% if loop.first %}hidden{% endif %}'><img src='{{ asset('bundles/nacholibrerichuploader/img/first.png') }}' title='{{ 'make_main' | trans }}' /></span>

        <div class="ribbon-wrapper-green main {% if not loop.first or (multiple is defined and not multiple) %}hidden{% endif %}"><div class="ribbon-green">{{ 'main' | trans }}</div></div>
    </div>
    {% endif %}
{% endfor %}
