{% for image in images %}
<div class='rich_image_thumb' data-id='{{ image.id }}'>
    <img src='{{ asset('bundles/nacholibrerichimage/img/move.png') }}' class='move' />
    <img src='{{ asset('bundles/nacholibrerichimage/img/delete.png') }}' class='delete' />
    {#
    <i class="fa fa-arrows move" aria-hidden="true"></i>
    <i class="fa fa-trash delete" aria-hidden="true"></i>
    #}
    <img src='{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('rich_image_thumb') }}' />
    {#
    <input type='hidden' name='product[imgs][id][]' value='{{ image.id }}' />
    #}
</div>
{% endfor %}
